@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/image/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    width: 150px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 0 23px;

}

.hero>:first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: #232323;
}

.btn {
    padding: epx 8px;
    color: white;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.034);
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 12px;
    font-weight: 900;
    color: orange;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw ;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
width: 30vw;
position: relative;
z-index: 10;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0px;
width: 90%;
}
section.first >div{
    display: flex;
    flex-direction: column;
}
.first > div:first-child{
    font-size: 48px;
    font-weight: bolder;
    position: relative;
   
}
.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
